html,
body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: auto;
    background: #ffffff;
    padding: 1vw;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

}

.table-wrapper {
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    height: 60vh;
    -webkit-overflow-scrolling: touch;
}

/* Firefox */
.table-wrapper {
    scrollbar-width: thin;
    scrollbar-color: #7f7f7f #e0f2ff;
}

/* WebKit (Chrome, Safari, Edge) */
.table-wrapper::-webkit-scrollbar {
    height: 10px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #ddf1ff;
    border-radius: 6px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #ddf1ff;
}


h1,
h2 {
    text-align: center;
    color: #2678c5;
}

h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1em;
    line-height: 1.7;
}

table {
    width: 100%;
    min-width: 950px;
    border-collapse: collapse;
    margin-top: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

th,
td {
    padding: 0px 16px;
    text-align: left;
    font-size: 0.7em;
    border-bottom: 1px solid #e0dcd6;
}

th {
    background-color: #e0f2ff;
    color: #000000;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f3ffff;
}

.search-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-wrapper input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.sub-navbar {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px 0;
    font-size: 0.8em;
}

.sub-navbar a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.sub-navbar a:hover {
    color: rgb(0, 0, 0);
}

a.selected {
    color: #2678c5;
    text-decoration: underline;
    border-radius: 5px;
}